# Игнор-лист файлов проекта
# ---- ФАЙЛЫ ----
# Игнорирование по типу файла, будут игнорироваться в АБСОЛЮТНО всех директориях
*.log
*.db
# ---- РАЗНОЕ ----
# Игнорирование ВСЕХ файлов и папок внутри директории /secret,
/target/*